<div class="analytics">
  <div class="all-stats-wrapper">
    <div class="global-stats-wrapper">
      <div class="global-stats">
        <div class="global-session-number-wrapper">
          <div class="global-session-number">
            <h3><%= @global_sessions %></h3>
            <p>Total sessions</p>
          </div>
          <% if WidgetAccess.sessions_compared_to_last_week.negative? %>
            <div class="decrease">
              <i class='bx bx-trending-down'></i>
              <p><%= WidgetAccess.sessions_compared_to_last_week %>%</p>
            </div>
          <% else %>
            <div class="increase">
              <i class='bx bx-trending-up'></i>
              <p><%= WidgetAccess.sessions_compared_to_last_week %>%</p>
            </div>
          <% end %>
        </div>
        <div class="global-session-time-wrapper">
          <div class="global-session-time">
            <h3><%= @global_time %> </h3>
            <p>Total time</p>
            <p></p>
          </div>
          <% if WidgetAccess.time_compared_to_last_week.negative? %>
            <div class="decrease">
              <i class='bx bx-trending-down'></i>
              <p><%= WidgetAccess.time_compared_to_last_week %>%</p>
            </div>
          <% else %>
            <div class="increase">
              <i class='bx bx-trending-up'></i>
              <p><%= WidgetAccess.time_compared_to_last_week %>%</p>
            </div>
          <% end %>
        </div>
        <div class="average-session-time-wrapper">
          <div class="average-session-time">
            <h3><%= @time_per_widget %></h3>
            <p>Time per widget</p>
          </div>
        </div>
        <div class="global-clicks-wrapper">
          <div class="global-clicks">
            <h3><%= @global_clicks %></h3>
            <p>Total clicks</p>
          </div>
          <% if ContentAccess.clicks_compared_to_last_week.negative? %>
            <div class="decrease">
              <i class='bx bx-trending-down'></i>
              <p><%= ContentAccess.clicks_compared_to_last_week %>%</p>
            </div>
          <% else %>
            <div class="increase">
              <i class='bx bx-trending-up'></i>
              <p><%= ContentAccess.clicks_compared_to_last_week %>%</p>
            </div>
          <% end %>
        </div>
        <div class="average-clicks-wrapper">
          <div class="average-clicks">
            <h3><%= @clicks_per_widget.round() %> </h3>
            <p>Clicks per widget</p>
          </div>
        </div>
      </div>
    </div>
    <div class="session-number-wrapper">
      <div id="select-widget">
        <%= form_with url: "", method: :get do |form| %>
          <%= form.select :product, Widget.where(user: current_user).collect { |product| [product.product_title, product.product_id] }.unshift(["All", "all"]), selected: @product%>
          <%= form.submit "Submit", style: "display: none" %>
        <% end %>
      </div>
      <% unless !params[:product].present? || params[:product] === "all" %>
      <div id="select-date">
        <%= form_with url: "", method: :get do %>
            <%= hidden_field_tag :product, params[:product] %>
            <%= label_tag :start_date, "Start Date" %>
            <%= date_field_tag :start_date, params[:start_date] %>
            <%= label_tag :end_date, "End Date" %>
            <%= date_field_tag :end_date, params[:end_date] %>
            <%= submit_tag "Search", class: "date-range" %>
        <% end %>
      </div>
      <% end %>
    </div>
    <% if @product.nil? || @product == "all" %>
      <%= render "shared/global_stats" %>
    <% else %>
      <%= render "shared/widget_stats" %>
    <% end %>
  </div>
</div>
