<div class="analytics">
  <div class="all-stats-wrapper">
    <div class="global-stats-wrapper">
      <div class="global-stats">
        <div class="global-session-number-wrapper">
          <div class="global-session-number">
            <h3><%= @global_sessions %></h3>
            <p>Total sessions</p>
          </div>
        </div>
        <div class="global-session-time-wrapper">
          <div class="global-session-time">
            <h3><%= @global_time %> </h3>
            <p>Total time</p>
          </div>
        </div>
        <div class="average-session-time-wrapper">
          <div class="average-session-time">
            <h3><%= @time_per_widget %></h3>
            <p>Time per widget</p>
          </div>
        </div>
        <div class="global-clicks-wrapper">
          <div class="global-clicks">
            <h3><%= @global_clicks %></h3>
            <p>Total clicks</p>
          </div>
        </div>
        <div class="average-clicks-wrapper">
          <div class="average-clicks">
            <h3><%= @clicks_per_widget %> </h3>
            <p>Clicks per widget</p>
          </div>
        </div>
      </div>
    </div>
    <div class="widget-stats-wrapper">
      <div class="session-number-wrapper">
        <div id="select-widget">
          <%= form_with url: "analytics", method: :get do |form| %>
            <%= form.select :product, Widget.where(user: current_user).collect { |product| [product.product_title, product.product_id] }.unshift(["All", nil]) %>
            <%= form.submit "Submit", style: "display: none" %>
          <% end %>
        </div>
      </div>
      <div class="total-session-time-wrapper">
        <div class="total-session-time">
          <p>Total time:</p>
          <h4><%= @widget_time %></h4>
        </div>
        <div class="session-time-chart">
          <%= column_chart WidgetAccess.group_by_day(:open_at).sum(:session_time), ytitle: "Time per day" %>
        </div>
      </div>
      <div class="total-session-time-wrapper">
        <div class="total-session-time">
          <p>Total number of sessions:</p>
          <h4><%= @widget_sessions %> sessions</h4>
        </div>
        <div class="session-time-chart">
          <%= area_chart WidgetAccess.group_by_day(:open_at).count, ytitle: "Number of Sessions"%>
        </div>
      </div>
      <div class="total-clicks-wrapper">
        <div class="total-clicks">
          <p>Total clicks:</p>
          <h4><%= @widget_clicks %> clicks</h4>
        </div>
        <div class="clicks-chart">
          <%= area_chart ContentAccess.group_by_day(:click_at).count, ytitle: "Number of Clicks" %>
        </div>
      </div>
    </div>
  </div>
</div>
