<div class="widget-stats-wrapper">
  <div class="total-session-time-wrapper">
    <div class="total-session-time">
      <p>Total time:</p>
      <h4><%= @widget_time %></h4>
    </div>
    <div class="session-time-chart">
      <%= column_chart WidgetAccess.group_by_day(:open_at).sum(:session_time), ytitle: "Time per day" %>
    </div>
  </div>
  <div class="total-session-time-wrapper">
    <div class="total-session-time">
      <p>Total number of sessions:</p>
      <h4><%= @widget_sessions %> sessions</h4>
    </div>
    <div class="session-time-chart">
      <%= area_chart WidgetAccess.group_by_day(:open_at).count, ytitle: "Number of Sessions"%>
    </div>
  </div>
  <div class="total-clicks-wrapper">
    <div class="total-clicks">
      <p>Total clicks:</p>
      <h4><%= @widget_clicks %> clicks</h4>
    </div>
    <div class="clicks-chart">
      <%= area_chart ContentAccess.group_by_day(:click_at).count, ytitle: "Number of Clicks" %>
    </div>
  </div>
</div>