<div class="widget-stats-wrapper">
  <div class="total-clicks-wrapper">
      <div class="clicks-chart">
        <div class="total-clicks">
          <h4>Number of Clicks</h4>
          <div class="total-clicks-count">
            <p>Total clicks:</p>
            <h4><%= @widget_clicks.count %> clicks</h4>
          </div>
        </div>
        <%= area_chart @widget_clicks.group_by_day(:click_at).count, label: "Clicks"%>
      </div>
      <div class="clicks-youtube-reddit-wrapper">
        <div class="youtube-clicks-chart">
            <h4>Youtube videos</h4>
          <%= pie_chart @user_widget.content_accesses.where(source: 'Youtube').group(:source_id).count.map { |id, count| [Youtube.find(id).title.truncate(20), count] } %>
        </div>
        <div class="reddit-clicks-chart">
            <h4>Reddit threads</h4>
          <%= pie_chart @user_widget.content_accesses.where(source: 'Reddit').group(:source_id).count.map { |id, count| [Reddit.find(id).thread_title.truncate(20), count] }%>
        </div>
      </div>
    </div>
  <div class="total-session-time-wrapper">
    <div class="session-time-chart">
      <div class="total-session-time">
        <h4>Time per day</h4>
        <div class="total-time-count">
          <p>Total time:</p>
          <h4><%= @widget_time %></h4>
        </div>
      </div>
      <%= column_chart @widget_sessions.group_by_day(:open_at).sum(:session_time), label: "Seconds"%>
    </div>
  </div>
  <div class="total-session-time-wrapper">
    <div class="session-time-chart">
      <div class="total-session-time">
        <h4>Number of Sessions</h4>
        <div class="total-session-count">
          <p>Total number of sessions:</p>
          <h4><%= @widget_sessions.count %> sessions</h4>
        </div>
      </div>
      <%= area_chart @widget_sessions.group_by_day(:open_at).count, label: "Sessions"%>
    </div>
  </div>
</div>