<div class="widget-stats-wrapper">
  <div class="total-session-time-wrapper">
    <div class="total-session-time">
      <p>Total time:</p>
      <h4><%= @widget_time %></h4>
    </div>
    <div class="session-time-chart">
      <%= column_chart @widget_session_time_per_day, ytitle: "Time per day" %>
    </div>
  </div>
  <div class="total-session-time-wrapper">
    <div class="total-session-time">
      <p>Total number of sessions:</p>
      <h4><%= @widget_sessions %> sessions</h4>
    </div>
    <div class="session-time-chart">
      <%= area_chart @widget_sessions_per_day, ytitle: "Number of Sessions", series: true %>
    </div>
  </div>
  <div class="total-clicks-wrapper">
    <div class="total-clicks">
      <p>Total clicks:</p>
      <h4><%= @widget_clicks %> clicks</h4>
    </div>
    <div class="clicks-chart">
      <%= area_chart @content_accesses_per_day, ytitle: "Number of Clicks" %>
    </div>
  </div>
</div>