<div class="container form-container">
  <%= link_to widgets_path do %>
    <img class="back-on-widgets-new" src="https://img.icons8.com/pastel-glyph/38/ffffff/back.png"/>
  <% end %>
  <%= simple_form_for(@widget) do |f| %>
   <%= f.input :product_title, :label => "Product title" %>
   <%= f.input :product_id, :label => "Product ID" %>
   <%= f.input :product_pic, as: :file, :label => "Product picture" %>
   <%= f.submit "Register product", class: "btn btn-primary" %>
  <% end %>

</div>
